/* roboto-regular - latin_cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-regular.woff') format('woff'), /* Modern Browsers */
}


/* roboto-700 - latin_cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/roboto-700.woff') format('woff'), /* Modern Browsers */
}


/* Variables */

:root {
	--black: #000000;
	--white: #ffffff;
	--red: #E74246;
	--red-light: #FB565A;
	--red-dark: #D7373B;
	--green: #00BC6C;
	--green-light: #00CA74;
	--green-dark: #00AA62;
	--yellow: #EAB534;
	--yellow-light: #EFC849;
	--yellow-dark: #E5A722;
	--gray: #DFDFDF;
	--gray-light: #EEEEEE;
	--gray--dark: #D5D5D5;
	--special: #888888;
}


/* Global */

button {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

body {
	background-color: var(--white);
	font-family: 'Roboto', "Tahoma", sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


/* Main navigation */

.main-navigation {
	margin: 0;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.site-navigation li {
	display: inline;
}

.user-navigation li {
	padding: 0;
	display: inline;
}


/* User navigation */

.site-navigation a:hover {
	color: var(--red-light);
}

.site-navigation a:focus {
	color: var(--black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.user-navigation a:hover {
	color: var(--red-light);
}

.user-navigation a:focus {
	color: var(--black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.main-header {
	font-size: 16px;
	line-height: 20px;
	color: var(--black);
	background-color: var(--gray-light);
	margin: 0;
}

 .page {
 	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--red-light);
    padding-bottom: 10px;
 }


/*.main-header-logo {

}*/

.heading-catalog {
	background-color: var(--gray-light);
	margin: 0;
	text-align: center;
	font-size: 55px;
}


/* Features */

.features li {
	text-align: center;
	display: inline;
}

.features {
	font-size: 16px;
	line-height: 24px;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
}

.features-background {
	/*background-image: url("../img/web-site.jpg");
	background-position: top left;
  	background-repeat: no-repeat;
	width: 300; 
	height: 146;
	margin: 10px;
	padding: 10px;*/
}

.order {
	border: 1px solid;
	padding: 16px 40px 16px 40px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
}

.red {
	background-color: var(--red-light);
}

.red:hover {
	background-color: var(--red);
}

.red:focus {
	background-color: var(--red-dark);
}

.green {
	background-color: var(--green-light);
}

.green:hover {
	background-color: var(--green);
}

.green:focus {
	background-color: var(--green-dark);
}

.yellow {
	background-color: var(--yellow-light);
}

.yellow:hover {
	background-color: var(--yellow);
}

.yellow:focus {
	background-color: var(--yellow-dark);
}

.button-show:hover {
	background-color: var(--gray);
}

.button-show:focus {
	background-color: var(--gray-dark);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-show {
	background-color: var(--gray-light);
	border-radius: 3px;
	border: 1px solid var(--white);
}

.filter {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.filter-type {
	font: inherit;
	font-size: 18px;
}

.catalog {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.catalog h3 {
	font-size: 18px;
}

.price {
	font: inherit;
	border: 1px solid;
	padding: 17px 72px 15px 72px;
	background-color: var(--red-light);
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
}

.catalog-info {
	display: none;
}

.catalog:hover section {
	display: block
}

.img-cart {
	/*background-image: url("../img/icon/cart-icon.svg");*/
	background-position: top left;
	background-repeat: no-repeat;
	margin: 0px;
}

.feedback {
	display: none;
}


/*.map {
		
}*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-social {
	width: 81px;
	height: 81px;
	border: 1px solid var(--white);
	border-radius: 50%;
	shape-inside: circle(50% at center center);
	text-align: center;
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

/*.button-send {
	
}*/