	/* roboto-regular - latin_cyrillic */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff2") format("woff2"),
	url("../fonts/roboto-regular.woff") format("woff");
}


	/* roboto-700 - latin_cyrillic */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-700.woff2") format("woff2"), /* Super Modern Browsers */
	url("../fonts/roboto-700.woff") format("woff");
}


	/* Variables */

:root {
	--black: #000000;
	--white: #ffffff;
	--red: #E74246;
	--red-light: #FB565A;
	--red-dark: #D7373B;
	--green: #00BC6C;
	--green-light: #00CA74;
	--green-dark: #00AA62;
	--yellow: #EAB534;
	--yellow-light: #EFC849;
	--yellow-dark: #E5A722;
	--gray: #DFDFDF;
	--gray-light: #EEEEEE;
	--gray--dark: #D5D5D5;
	--special: #888888;
}


	/* Global */

html {
	height: 100%;
	width: 100%;
}

button {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

body {
	background-color: var(--white);
	font-family: "Roboto", "Tahoma", sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
  	width: 1200px;
  	margin: 0 auto;
  	padding: 0 10px;
}

.page-body {
  	display: grid;
  	grid-template-rows: min-content 1fr min-content;
  	align-content: start; 	
  	min-height: 100%; 
}

	/* Main navigation */

.main-navigation {
	display: flex;  	
  	align-items: center;

	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.main-navigation .container {
	display: flex;
}

.site-navigation {
	width: 620px;
  	margin: 0;
  	padding: 0;

  	list-style: none;

  	outline: 5px solid rgba(0, 255, 255, 0.3);
  	outline-offset: -5px;  	
}

.user-navigation {
	max-width: 140px;

  	outline: 5px solid rgba(255, 0, 255, 0.3);
  	outline-offset: -5px;
}

.site-navigation li {
	display: inline;
}

.user-navigation li {
	display: inline;
	padding: 0;	
}

.user-navigation a {
	margin: 40px;
}

.img-cart {
	background-image: url("../img/icon/cart-icon.svg");
	background-position: top left;
	background-repeat: no-repeat;
}

	/* User navigation */

.site-navigation a:hover {
	color: var(--red-light);
}

.site-navigation a:focus {
	color: var(--black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.user-navigation a:hover {
	color: var(--red-light);
}

.user-navigation a:focus {
	color: var(--black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.main-header {
	font-size: 16px;
	line-height: 20px;
	color: var(--black);
	background-color: var(--gray-light);
	margin: 0;
	outline: 5px solid rgba(0, 255, 0, 0.3);
  	outline-offset: -5px;
}

 .page {
 	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--red-light);
    padding-bottom: 10px;
 }


.main-header-logo {
	order: -1;
	width: 160px;
  	height: 65px;
  	margin-left: 140px;
  	outline: 5px solid rgba(255, 0, 0, 0.3);
  	outline-offset: -5px;
}

.heading-catalog {
	background-color: var(--gray-light);
	margin: 0;
	text-align: center;
	font-size: 55px;
	background-color: #F0E68C;
	outline: 1px solid red;
}

	/* Footer */

.footer .container {
	display: flex;
}

.footer .user-contact {
	display: flex;
	width: 270px;
}

.footer .sale {
	width: 660px;
}

.feedback {
	width: 300px;
	margin: 0;
	outline: 5px solid rgba(0, 255, 0, 0.7);
  	outline-offset: -5px;
}


/*.map {
		
}*/

.visually-hidden {
  	position: absolute;
  	
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.contact {
	display: flex;
  	width: 380px;  	
	margin-right: 139px;

  	outline: 5px solid rgba(0, 255, 255, 0.7);
  	outline-offset: -5px;
}

.user-contact {
	margin: 0;
	list-style: none;
}

.sale p {
  	margin: 0;
}

.sale {
	outline: 5px solid rgba(0, 255, 0, 0.7);
  	outline-offset: -5px;
}

.icon-social {
	width: 81px;
	height: 81px;
	border: 1px solid var(--white);
	border-radius: 50%;
	shape-outside: circle(50% at center center);

	text-align: center;

	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}


	/* Features */


.container .features-list {
	display: flex;
}

.features {	
	margin-top: 80px;

	font-size: 16px;
	line-height: 24px;
}

.features-list {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	column-gap: 100px;
  	margin-left: 140px;  	
  	padding: 0;

  	list-style: none;

  	outline: 5px solid rgba(0, 255, 255 , 0.3);
}

.features-list li {
	margin-right: 100px;
}

.features-list li:last-child {
	margin-right: 0;
}

.features h2 {
	margin-top: 160px;

	font-size: 24px;
	line-height: 30px;	
}

.features-item {
	width: 300px;
	height: 347px;

	background-position: top left;
  	background-repeat: no-repeat;  	

	outline: 5px solid rgba(0, 255, 255 , 0.3);
  	outline-offset: -5px;
}

.features-item, p {
	margin-bottom: 30px;
}

.web-site {
	background-image: url("../img/web-site.jpg");
	background-size: auto auto;
}

.application {
	background-image: url("../img/application.jpg");
	background-size: auto auto;
}

.presentations {
	background-image: url("../img/presentations.jpg");
	background-size: auto auto;
}

.order {
	display: inline-block;
	border: 1px solid;
	padding: 16px 40px 16px 40px;

	text-align: center;
	text-transform: uppercase;

	color: var(--white);
}

.red {
	background-color: var(--red-light);

}

.red:hover {
	background-color: var(--red);
}

.red:focus {
	background-color: var(--red-dark);
}

.green {
	background-color: var(--green-light);
}

.green:hover {
	background-color: var(--green);
}

.green:focus {
	background-color: var(--green-dark);
}

.yellow {
	background-color: var(--yellow-light);
}

.yellow:hover {
	background-color: var(--yellow);
}

.yellow:focus {
	background-color: var(--yellow-dark);
}

	/* Catalog-filter */

.container .filter {
	display: flex;
}

.button-show:hover {
	background-color: var(--gray);
}

.button-show:focus {	
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

	background-color: var(--gray-dark);
}

.button-show {
	width: 260px;
  	height: 50px;	
	border-radius: 3px;
	border: 1px solid var(--white);

	background-color: var(--gray-light);
}

.filter-form {
	margin-left: 140px;

	background-color: #F0E68C;
	outline: 1px solid red;
}

.filter {
	flex-direction: column;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;	
}

.filter-type {
	font: inherit;
	font-size: 18px;
	font-weight: bold;
}

.filter-type, input {
	display: flex;
	flex-direction: column;
}
 
 	/* Catalog*/

.container .catalog {
	display: flex;
}

.catalog {
	flex-wrap: wrap;
	width: 761px;
	margin: 10px;
	padding: 10px;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;

	background-color: #F0E68C;
	outline: 1px solid red;
}

.catalog h3 {
	font-size: 18px;
}

.price {	
	border: 1px solid;
	padding: 17px 72px 15px 72px;

	font: inherit;
	text-align: center;
	text-transform: uppercase;

	color: var(--white);
	background-color: var(--red-light);
}

.catalog-info {
	display: none;
}

.catalog:hover section {
	display: block
}

.catalog-sedona {
	align-items: flex-start;

	outline: 1px solid red;
}

.catalog-pink {
	align-items: flex-end;

	outline: 1px solid red;
}

.catalog-barbershop {
	outline: 1px solid red;
}

.catalog-mishka {
	outline: 1px solid red;
}

.catalog-aplus {
	outline: 1px solid red;
}

.catalog-kvast {
	outline: 1px solid red;
}


/*.button-send {
	
}*/